body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-image: url('../src/assets/images/shopping.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #001f3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
a {
  text-decoration: none;
  color: #001f3f;
}